:root .dark-mode,
.chakra-ui-dark {
  --fg-color: rgb(255, 255, 255) !important;
  --fg-color-1: rgb(251 211 141) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Notion Overrides */
body .notion-text {
  font-size: 18px;
}

body .notion .notion-code {
  font-size: 100%;
}

.notion-code, .notion-text, .notion-bookmark {
  margin: 0.5rem 0;
}